@{
    ViewData["Title"] = "Sobre";
}

<div class="text-center">
    <h1 class="display-4">Sobre o Projeto Livro+</h1>
    <p>O Livro+ é uma aplicação desenvolvida para facilitar a leitura e organização de livros digitais.</p>
    <p>Com uma interface intuitiva, o usuário pode facilmente navegar por suas obras, marcar páginas e organizar suas leituras.</p>
    <p>Este projeto é open-source e está disponível no GitHub: <a href="https://github.com/SamuelO-Rocca/LivroPlus.git" target="_blank">GitHub - Livro+</a>.</p>
</div>
